---
import Layout from '../components/Layout.astro';
import Step from '../components/Step.astro'
const startingPointX = 1920 * 10
interface Step {
    from: String,
}

const Slides = [
    { 
        from: "Slide Show Creator",
        layout: 'grid'
    }
]
---

<Layout title="Astro Quickstart">
	<main  id="impress"
        data-width="1920"
        data-height="1080"
        data-max-scale="5"
        data-min-scale="0"
        data-perspective="1000"
        data-autoplay="7"
    >
    {
        Slides.map((slide) =>  <Step from={slide.from} layout={slide.layout}></Step>)
    }
     
	</main>
</Layout>