---
import anime from 'animejs/lib/anime.es.js';


export interface Props {
	title: string;
  bgColor: string
}

const { title, bgColor } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
</head>
<body class="">
  <!-- <div class="fallback-message">
    <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
    <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
  </div> -->
	<slot />
  <script is:global src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
  <script is:global src="https://cdn.jsdelivr.net/gh/impress/impress.js@2.0.0/js/impress.js"></script>
  <script is:global>impress().init()</script>
  <script>
    import Alpine from 'alpinejs';
  
    // Optional: Extend Alpine.js
    // Alpine.directive('foo', ...)
  
    window.Alpine = Alpine;
    Alpine.start();
  </script>

</body>
</html>

<style define:vars={{bgColor}}>
  :root {
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
		--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem); 
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --color-text: hsl(12, 5%, 4%);
    --color-bg: var(--bgColor);
  }
  html {
    font-family: system-ui, sans-serif;
    font-size: var(--font-size-base);
    color: var(--color-text);
    background-color: var(--color-bg);
  }
  body {
    margin: 0;
  }
  :global(h1) {
    font-size: var(--font-size-xl);
  }
  :global(h2) {
    font-size: var(--font-size-lg);
  }
  :global(code) {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>